#explorer-outer{
	position:relative;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:320px;
	height: auto;
	border: solid 1px #c7c7c7;
	border-radius: 5px;
	overflow:hidden;
	-webkit-box-shadow: 0px 0px 109px 3px rgba(175,175,175,1);
	-moz-box-shadow: 0px 0px 109px 3px rgba(175,175,175,1);
	box-shadow: 0px 0px 109px 3px rgba(175,175,175,1);
}

#explorer-inner{
	
}

#explorer-inner ul{
	padding-left:0px;
	margin-top:0px;	
}

#explorer-inner > ul  li > div{
	width:100%;
	padding:9px 0;
	color:#000;
	display:block;
	text-decoration:none;
	line-height:0px;
}

#explorer-inner li{
	list-style:none;
}

#explorer-inner ul li div:hover, .selected{
	background-color: #4285f4;
	color:#fff;
}

#exhead{
	position:relative;
	height:52px;
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: solid 1px #e2e2e2;
}

#exlabel{
	height: 40px;
	width:100%;
	-webkit-box-shadow: 0px 3px 5px -3px rgba(226,226,226,1);
	-moz-box-shadow: 0px 3px 5px -3px rgba(226,226,226,1);
	box-shadow: 0px 3px 5px -3px rgba(226,226,226,1);
}

#exbody{
	height: auto;
	min-height: 500px;
	width: 100%;
	padding-top: 20px;
}

#exfooter{
	border-top: solid 1px #e2e2e2;
	padding:20px 0;
}

/*Alignment*/
.container, .container1{
	width: 90%;
	margin:0 auto;
	overflow:hidden;
}

.container2{
	margin-left:70px;
}

.container3{
	margin-left:105px;
}

.container4{
	margin-left:140px;
}

.container5{
	margin-left:175px;
}


.pad{
	padding:10px;
}

.v-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

span.clear { clear: left; display: block; }

/*ICONS*/

.folder{
    width: 14px;
    height: 14px;
    background: url('../img/icon-sprite.png') -0px 0px;
    display:inline-block;
    margin-right: 10px;
}

.private{
    background: url('../img/icon-sprite.png') -14px 0px !important;
}

.file{
	width: 12px;
    height: 14px;
    background: url('../img/icon-sprite.png') -29px 0px;
    display:inline-block;
    margin-right: 10px;
}

.modal-close{
	width: 12px;
    height: 14px;
    background: url('../img/icon-sprite.png') -43px 0px;
    display:inline-block;
    float:right;
}

.closed{
    width: 9px;
    height: 12px;
    background: url('../img/icon-sprite.png') -58px -2px;
    display:inline-block;
    margin-right: 10px;
}

.open{
    width: 9px;
    height: 12px;
    background: transparent url('../img/icon-sprite.png') -72px -2px;
    display:inline-block;
    margin-right: 10px;
}

.hidden{
   display:none;
}

.closed > ul{
   display:none;
}

.blue-btn{
	background-color: #4285f4;
	color: #fff;
	border: solid 1px #4c7fd5;
	border-radius: 3px;
	float:right;
	padding: 10px 20px;
}